key.py
run_task.bat
log.txt
key.cpython-311.pyc
osuTasks/log.txt
osuTasks/test.py
Images/mapBackground.png
Images/captured_status.png
Images/beatmapLength.png
textFiles
.venv
__pycache__
osuTasks/__pycache__